@font-face {
  font-family: "Bellefair";
  src: url("../assets/fonts/Bellefair-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../assets/fonts/BarlowCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../assets/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../assets/fonts/BarlowCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* 🎨 Цвета */

  --white: rgb(255, 255, 255);
  --blue-900: rgb(11, 13, 23);
  --blue-300: rgb(208, 214, 249);
  --white-rgb: 255, 255, 255;

  /* 🖋️ Шрифты */

  --font-primary: "Bellefair", serif;
  --font-secondary: "Barlow Condensed", sans-serif;
  --font-tertiary: "Barlow", sans-serif;

  /* 🔤 Размеры текста */
  --text-preset-1: clamp(80px, 10vw, 144px);
  --text-preset-2: clamp(36px, 7vw, 100px);
  --text-preset-4: clamp(18px, 4vw, 32px);
  --text-preset-5: clamp(16px, 3vw, 28px);
  --text-preset-6: clamp(16px, 3vw, 28px);
  --text-preset-7: clamp(12px, 2vw, 14px);
  --text-preset-8: clamp(14px, 2vw, 16px);
  --text-preset-9: clamp(15px, 2.5vw, 18px);
  --text-preset-10: clamp(56px, 10.42vw, 96px);

  /* 📏 Высота строк */
  --line-height-1: 171.9%;
  --line-height-2: 114.6%;
  --line-height-4: 36.7%;
  --line-height-5: 33.6%;
  --line-height-6: 32.1%;
  --line-height-7: 16.8%;
  --line-height-8: 19.2%;
  --line-height-9: 180%;

  /* 🔠 Межбуквенный интервал */
  --letter-spacing-5: 4px;
  --letter-spacing-7: 2px;
  --letter-spacing-8: 2px;
  --letter-spacing-9: 0px;

  --padding-horizontal: clamp(24px, 8vw, 165px);
  --padding-vertical: clamp(24px, 4vw, 48px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,
body {
  font-family: var(--font-secondary);
  color: var(--white);
  background-color: black;

  width: 100%;
}
.page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page.home {
  background-image: url("/assets/home/background-home-desktop.jpg");
}
.page.destination {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
}

.page.crew {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
}

.page.technology {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  width: 100vw;
}
a {
  transition: 0.2s all;
}








@media (max-width: 768px) {
  .page.home {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  .page.destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  .page.crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
  .page.technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

/* 📱 Мобильные устройства (до 767px) */
@media (max-width: 550px) {
  .page.home {
    background-image: url("/assets/home/background-home-mobile.jpg");
  }
  .page.destination {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
  }
  .page.crew {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
  }
  .page.technology {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }
}
