.header {
  display: flex;

  align-items: center;

  font-family: var(--font-secondary);
  text-transform: uppercase;
  padding: 40px 0 0 64px;
  letter-spacing: var(--letter-spacing-7);
}

.logo img {
  height: clamp(40px, 5vw, 48px);
}

.number {
  font-weight: bold;
}
.divider {
  flex-grow: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  margin: 0 -40px 0 20px;
}
.nav {
  background-color: rgba(var(--white-rgb), 0.05);
  padding: 0 64px;
  justify-content: flex-end;
  display: flex;
  width: 736px;
  height: 96px;
  backdrop-filter: blur(20px);
}
.nav span {
  padding-right: 12px;
}
.nav ul {
  display: flex;
  gap: 48px;

  list-style: none;
}
.nav span {
  font-size: 16px;
}
.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  height: 100%;
}
.nav li {
  height: 100%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
.nav li:hover {
  border-bottom: 2px solid var(--white);
}

.active {
  border-bottom: 2px solid var(--white);
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 34px;
  z-index: 10;

  flex-direction: column;
  row-gap: 6px;
}

.burger span {
  display: block;
  width: 24px;
  height: 3px;
  background: var(--blue-300);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Анимация превращения в крест */
.burger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

@media (max-width: 860px) {
  .nav {
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .logo {
    padding: 0 40px;
  }
  .nav {
    width: 100%;
    padding: 0 40px;
  }
  .divider {
    display: none;
  }
}
@media (max-width: 660px) {
  .logo {
    padding: 40px;
  }
  .burger {
    display: flex;
  }

  .nav {
    z-index: 1;
    width: 255px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -80%;
    backdrop-filter: blur(20px);
    display: flex;
    padding: 20px 0;
    transition: 0.2s all;
  }
  .nav.open {
    right: 0;
  }
  .active {
    border-bottom: none;
    border-right: 2px solid var(--white);
  }
  .nav li:hover {
    border-bottom: none;
  }
  .nav li {
    height: fit-content;
  }
  .nav ul {
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 133px 0 100% 32px;
    letter-spacing: var(--letter-spacing-7);
    row-gap: 32px;
  }
}
@media (max-width: 500px) {
  .logo {
    padding: 24px;
  }
}
