.technology {
  display: flex;
  flex-direction: column;
  margin: 48px 0 48px 0;
  max-width: 90%;
  height: 790px;
  justify-content: space-between;
}
.technologyContainer {
  display: flex;
  align-items: center;
  height: 790px;
  gap: 32px;
}
.name {
  font-family: var(--font-primary);
  font-weight: normal;
  text-transform: uppercase;
  font-size: var(--text-preset-11);
  color: var(--white);
  padding-top: 16px;
}

.role {
  font-family: var(--font-primary);
  font-weight: normal;
  text-transform: uppercase;
  font-size: var(--text-preset-4);
  color: rgba(var(--white-rgb), 0.5);
}
.description {
  font-family: var(--font-tertiary);
  font-weight: normal;
  line-height: var(--line-height-9);
  font-size: var(--text-preset-9);
  padding-top: 24px;
  color: var(--blue-300);
}
.technologyInfo {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 300px;
}
.technologyList {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  list-style: none;
  padding: 0;
}
.technologyList li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: var(--font-primary);
  font-size: var(--text-preset-4);
}

.technologyImage img {
  width: 500px;
}

.technologyInfo > *:not(.crewList),
.technologyImage img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.technologyInfo.active > *:not(.crewList),
.technologyImage img.active {
  opacity: 1;
  transform: translateY(0);
}

.technologyInfo.hidden,
.technologyImage img.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.technologyList li:hover {
  background-color: var(--white);
  color: black;
  opacity: 1;
}

.technologyList .active {
  background-color: var(--white);
  opacity: 1;
  color: black;
}

@media (max-width: 1200px) {
  .technologyContainer {
    height: auto;
    row-gap: 0;
    flex-direction: column;
  }
  .description {
    padding-top: 16px;
  }
  .technology {
    height: auto;
    width: 100%;
    margin: 40px;
  }

  .technologyInfo {
    width: 510px;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    order: 3;
    position: relative;
  }
  .technologyImage {
    padding-top: 64px;
    order: 1;
  }
  .technologyImage img {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }

  .technologyList {
    padding: 32px 0 40px 0;
    order: 2;
    flex-direction: row;
    gap: 16px;
  }
  .subtitle {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
}

@media (max-width: 550px) {
  .technologyList li {
    width: 40px;
    height: 40px;
  }
  .technology {
    margin: 24px 24px 48px 24px;
  }
  .technologyImage img {
    height: 258px;
  }
  .technologyInfo {
    width: 100%;
  }
}
